body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}
.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
  
}
.middle-container{
    margin: 100px 0;
  
}
.bottom-container{
  background-color: #66BFBF ;
 padding: 50px 0 20px;

}

h1{
  margin: 50px auto 0 auto ;
  font-family: 'Sacramento', cursive;
  font-size: 90px;
  color: #66BFBF;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}

h3{
    font-family: 'Montserrat', sans-serif;
     color: #11999E;
}
.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 300px;
}
.top-cloud{
right: 300px;
top: 40px;
position: absolute;

}
.profile-img{
    width: 150px;
    height: 150px;
    border-radius: 20%;
}
.footer-link{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;

}
.footer-link:hover{
    color: #EAF6F6;
}
.skill-row{
    width: 50%;
   margin: 100px auto 100px auto;
   text-align: left;
   line-height: 2;
}
.skill-img{
    width: 25%;
    float: left;
   margin-right: 30px;
}
.skill-img2{
    width: 25%;
    float: right;
   margin-right: 30px;
}
.intro{
    width: 30%;
  margin: auto;
  line-height: 2;

}
hr{
    border: dotted  #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto 100px;
}
.contact-me{
    width: 40%;
    margin: 40px auto 60px;
    line-height: 2;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb,  #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb,  #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb,  #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb,  #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb,  #2bc4ad);
    text-decoration: none;
  }
  .copyright{
      color: #EAF6F6;
      font-size: 0.75rem;
     text-decoration: none;
      
  }
